<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clei.utils.other.ColumnDao">
    <select id="getColumnInfo" resultType="java.util.Map">
        SELECT column_name,column_type
        FROM information_schema.`COLUMNS`
        WHERE TABLE_SCHEMA = #{database}
        AND TABLE_NAME = #{table}
    </select>

    <insert id="batchInsertRoadInfo" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="roadId">
        INSERT INTO road_info(
        name,
        type,
        length,
        one_way,
        lane_number,
        geo,
        area,
        direction,
        uuid)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.roadName},
            1,
            #{item.length},
            1,
            2,
            ' ',
            '贵阳',
            #{item.direction},
            #{item.roadCode}
            )
        </foreach>
    </insert>

    <insert id="batchInsertRoadSectionInfo" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="roadSectionId">
        INSERT INTO road_section_info(
        road_id,
        section_name,
        road_name,
        length,
        one_way,
        lane_number,
        geo,
        area,
        direction,
        uuid)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.roadId},
            #{item.roadName},
            #{item.roadName},
            #{item.length},
            1,
            2,
            #{item.geo},
            '贵阳',
            #{item.direction},
            #{item.roadCode}
            )
        </foreach>
    </insert>

    <insert id="batchInsertRoadSectionNode" parameterType="java.util.List">
        INSERT INTO road_section_node_coordinate(
        road_id,
        road_section_id,
        lon,
        lat
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.roadId},
            #{item.roadSectionId},
            #{item.centerLon},
            #{item.centerLat}
            )
        </foreach>
    </insert>


</mapper>
