[mysql]
default-character-set=utf8
[mysqld]
skip-name-resolve
port=3306
basedir=/usr/games/mysql
datadir=/usr/games/mysql/data
pid-file = /usr/games/mysql/pid/mysql.pid
log-long-format
log-error=/usr/games/mysql/logs/error.log
slow_query_log
slow_query_log-file=/usr/games/mysql/logs/slow.log
expire_logs_days=10
max_connections=200
character-set-server=utf8
default-storage-engine=INNODB
lower_case_table_names=1
max_allowed_packet=16M
explicit_defaults_for_timestamp=true

user=mysql